<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Movies</key>
	<array>
		<array>
			<string>Brown of Harvard</string>
			<string>yes</string>
		</array>
		<array>
			<string>Bardelys the Magnificent</string>
			<string>no</string>
		</array>
		<array>
			<string>The Great K and A Train Robbery</string>
			<string>yes</string>
		</array>
		<array>
			<string>Annie Laurie</string>
			<string>no</string>
		</array>
		<array>
			<string>The Drop Kick (US title)</string>
			<string>no</string>
		</array>
		<array>
			<string>Glitter (GB title)</string>
			<string>no</string>
		</array>
		<array>
			<string>Mother Machree</string>
			<string>no</string>
		</array>
		<array>
			<string>Four Sons</string>
			<string>no</string>
		</array>
		<array>
			<string>Hangman&apos;s House</string>
			<string>no</string>
		</array>
		<array>
			<string>Noah&apos;s Ark</string>
			<string>no</string>
		</array>
		<array>
			<string>Speakeasy</string>
			<string>no</string>
		</array>
		<array>
			<string>The Black Watch</string>
			<string>no</string>
		</array>
		<array>
			<string>Words and Music</string>
			<string>no</string>
		</array>
		<array>
			<string>Salute</string>
			<string>no</string>
		</array>
		<array>
			<string>The Forward Pass</string>
			<string>no</string>
		</array>
		<array>
			<string>Men Without Women</string>
			<string>no</string>
		</array>
		<array>
			<string>Born Reckless</string>
			<string>no</string>
		</array>
		<array>
			<string>Rough Romance</string>
			<string>no</string>
		</array>
		<array>
			<string>Cheer Up and Smile</string>
			<string>no</string>
		</array>
		<array>
			<string>The Big Trail</string>
			<string>no</string>
		</array>
		<array>
			<string>Girls Demand Excitement</string>
			<string>no</string>
		</array>
		<array>
			<string>Three Girls Lost</string>
			<string>no</string>
		</array>
		<array>
			<string>Arizona[2] (US title)</string>
			<string>no</string>
		</array>
		<array>
			<string>The Virtuous Wife (GB title)</string>
			<string>no</string>
		</array>
		<array>
			<string>The Deceiver</string>
			<string>no</string>
		</array>
		<array>
			<string>Range Feud</string>
			<string>no</string>
		</array>
		<array>
			<string>Maker of Men</string>
			<string>no</string>
		</array>
		<array>
			<string>The Voice of Hollywood No. 13</string>
			<string>no</string>
		</array>
		<array>
			<string>Running Hollywood</string>
			<string>no</string>
		</array>
		<array>
			<string>The Shadow of the Eagle</string>
			<string>no</string>
		</array>
		<array>
			<string>Texas Cyclone</string>
			<string>no</string>
		</array>
		<array>
			<string>Two-Fisted Law</string>
			<string>no</string>
		</array>
		<array>
			<string>Lady and Gent</string>
			<string>no</string>
		</array>
		<array>
			<string>The Hurricane Express</string>
			<string>no</string>
		</array>
		<array>
			<string>The Hollywood Handicap</string>
			<string>no</string>
		</array>
		<array>
			<string>Ride Him, Cowboy (US title)</string>
			<string>no</string>
		</array>
		<array>
			<string>The Hawk (GB title)</string>
			<string>no</string>
		</array>
		<array>
			<string>That&apos;s My Boy</string>
			<string>no</string>
		</array>
		<array>
			<string>The Big Stampede</string>
			<string>no</string>
		</array>
		<array>
			<string>Haunted Gold</string>
			<string>no</string>
		</array>
	</array>
</dict>
</plist>
